.header-container {
  background-color: #101010;
  padding: 0 80px;
  height: 100px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #e0ddd6;
  border-bottom: 1px solid #e0ddd6;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.links {
  padding-right: 20px;
  color: #e0ddd6;
}

.links:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #ff6b00;
}

.header-input {
  text-align: center;
}

.header-input input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #e0ddd6;
  padding-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

.header-input button {
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
}

.header-input button:hover {
  cursor: pointer;
  background-color: #ff6b00;
  color: #e0ddd6;
}

.header-input button:active {
  border: none;
}

.header-logo img {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80px;
  width: auto;
}
