.poster {
  height: 300px;
  width: auto;
}

.poster:hover {
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.title {
  color: #ecf0f1;
}

.link {
  text-decoration: none;
}

.movie_description {
  max-width: 600px;
  display: none;
}
