body {
  background-color: #101010;
  color: #e0ddd6;
  font-size: 24px;
}

h1 {
  font-weight: 700;
  line-height: 75%;
}

h2 {
  font-weight: 700;
  line-height: 75%;
}

h3 {
  font-weight: 500;
  line-height: 75%;
}
