.content {
  margin-bottom: 40px;
}

.poster {
  height: 150px;
  width: auto;
}

.poster:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s;
}

.movie-description {
  display: none;
  position: absolute;
  max-width: 50%;
  background-color: #080808;
  color: #ecf0f1;
  padding: 0 20px;
  box-sizing: border-box;
  padding: 20px 20px;
}

.content:hover .movie-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overview {
  font-weight: 500;
}
