.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.links {
    padding-right: 20px;
}

.header-input {
    padding-right: 30px;
    text-align: center;
}