.link {
  text-decoration: none;
}

.link a {
  max-width: 200px;
}

body {
  background-color: #101010;
  color: #ecf0f1;
  padding: 0 80px;
}

.content {
  max-width: 200px;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

.movie-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rating-star img {
  height: 24px;
  width: 24px;
}
