.movie-container {
  display: flex;
  flex-direction: row;
  gap: 40px;

  padding: 40px;
  border-radius: 20px;
  background-color: #5a5a5a1b;
  color: #ecf0f1;
}

.movie-poster img {
  height: 600px;
  width: auto;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info {
  margin-bottom: 10px;
}
.tags {
  margin-bottom: 10px;
}
.movie-rating {
  margin-bottom: 10px;
}

.rating-star {
  display: flex;
  align-items: center;
}

.rating-star img {
  margin-right: 10px;
  height: 24px;
  width: 24px;
}

.redirection {
  color: #ecf0f1;
}

.content {
  margin-bottom: 20px;
}
